/* [project]/components/NavigationHeader/NavigationHeader.module.css [app-client] (css) */
.NavigationHeader-module__Be8KDG__navigationHeaderWrapper {
  background-color: var(--color-lightest);
  z-index: 1;
  width: 100%;
  padding: 16px 64px;
}

@media (width <= 1023px) {
  .NavigationHeader-module__Be8KDG__navigationHeaderWrapper {
    padding: 12px 16px;
  }
}

.NavigationHeader-module__Be8KDG__navigationHeaderContent {
  justify-content: center;
  align-items: center;
  max-width: 1281px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

@media (width <= 1023px) {
  .NavigationHeader-module__Be8KDG__navigationHeaderContent {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .NavigationHeader-module__Be8KDG__navigationHeaderContent img {
    height: 38px;
  }
}

.NavigationHeader-module__Be8KDG__navigationHeaderButton {
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (width <= 1023px) {
  .NavigationHeader-module__Be8KDG__navigationHeaderButton {
    width: 48px;
    height: 48px;
  }
}


/* [project]/components/Layout/Layout.module.css [app-client] (css) */
.Layout-module__fmZ1UG__layoutWrapper {
  background-color: var(--color-gray-200);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Layout-module__fmZ1UG__layoutContent {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  overflow: auto;
}

@media (width <= 1023px) {
  .Layout-module__fmZ1UG__layoutContent {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.Layout-module__fmZ1UG__layoutGradient {
  z-index: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.Layout-module__fmZ1UG__layoutGradient img {
  width: 100%;
}


/* [project]/components/CollapsibleSidebar/CollapsibleSidebar.module.css [app-client] (css) */
.CollapsibleSidebar-module___z2hXa__collapsibleSidebarOverlay {
  background-color: var(--color-gray-1000);
  opacity: .2;
  z-index: 1;
  animation: .15s cubic-bezier(.16, 1, .3, 1) CollapsibleSidebar-module___z2hXa__overlayShow;
  position: fixed;
  inset: 0;
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarContent {
  background-color: var(--color-lightest);
  z-index: 1;
  width: 540px;
  height: 100vh;
  padding: 24px 32px;
  animation: .15s cubic-bezier(.16, 1, .3, 1) CollapsibleSidebar-module___z2hXa__contentShow;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

@media (width <= 1023px) {
  .CollapsibleSidebar-module___z2hXa__collapsibleSidebarContent {
    border-radius: 16px;
    width: calc(100vw - 32px);
    height: calc(100vh - 30px);
    padding: 16px 24px;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translateY(-50%);
  }
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarChildrenWrapper {
  height: calc(100% - 56px);
  padding-top: 24px;
  padding-bottom: 24px;
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarChildrenWrapper.CollapsibleSidebar-module___z2hXa__collapsibleSidebarChildrenWrapperSmallPadding {
  padding-top: 8px;
}

@media (width <= 1023px) {
  .CollapsibleSidebar-module___z2hXa__collapsibleSidebarChildrenWrapper {
    height: calc(100% - 48px);
  }
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarChildren {
  flex-direction: column;
  gap: 24px;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarHeader {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarTitle {
  color: var(--color-gray-1000);
  letter-spacing: -.05em;
  font-size: 28px;
  line-height: 40px;
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarCloseButton {
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
}

@media (width <= 1023px) {
  .CollapsibleSidebar-module___z2hXa__collapsibleSidebarCloseButton {
    width: 48px;
    height: 48px;
    overflow: auto;
  }
}

.CollapsibleSidebar-module___z2hXa__collapsibleSidebarDescription {
  color: var(--color-gray-600);
  font-size: 18px;
}

@keyframes CollapsibleSidebar-module___z2hXa__overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: .2;
  }
}

@keyframes CollapsibleSidebar-module___z2hXa__contentShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* [project]/components/ListWithTitle/ListWithTitle.module.css [app-client] (css) */
.ListWithTitle-module__hSBZVW__listWithTitle {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.ListWithTitle-module__hSBZVW__listWithTitleTitle {
  letter-spacing: -.01em;
  color: var(--color-gray-1000);
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
}

.ListWithTitle-module__hSBZVW__listWithTitleList {
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
  display: flex;
}

.ListWithTitle-module__hSBZVW__listWithTitleItem {
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 24px;
  list-style: outside;
}


/* [project]/components/ProsAndCons/ProsAndCons.module.css [app-client] (css) */
.ProsAndCons-module__Qx3HBa__prosAndCons {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.ProsAndCons-module__Qx3HBa__prosAndConsDescription {
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 24px;
}

.ProsAndCons-module__Qx3HBa__prosAndConsLink {
  color: var(--color-blue);
  align-items: center;
  gap: 12px;
  margin-top: auto;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}


/* [project]/components/ToolsAndUseCases/ToolsAndUseCases.module.css [app-client] (css) */
.ToolsAndUseCases-module__5wvYGq__toolsAndUseCases {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.ToolsAndUseCases-module__5wvYGq__toolsAndUseCasesItem {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.ToolsAndUseCases-module__5wvYGq__toolsAndUseCasesItemTitle {
  letter-spacing: -.01em;
  color: var(--color-gray-1000);
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
}

.ToolsAndUseCases-module__5wvYGq__toolsAndUseCasesItemText {
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 24px;
}


/* [project]/components/Question/Question.module.css [app-client] (css) */
.Question-module__hJCz_q__questionWrapper {
  background-color: var(--color-lightest);
  border-radius: 16px;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.Question-module__hJCz_q__questionLink {
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 24px;
  display: flex;
}

@media (width <= 1023px) {
  .Question-module__hJCz_q__questionLink {
    padding: 16px;
  }
}

.Question-module__hJCz_q__questionText {
  color: var(--color-gray-1000);
  letter-spacing: -.01em;
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
}

@media (width <= 1023px) {
  .Question-module__hJCz_q__questionText {
    font-size: 16px;
    line-height: 24px;
  }
}

.Question-module__hJCz_q__questionCircle {
  border: 2px solid var(--color-gray-400);
  border-radius: 100%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.Question-module__hJCz_q__questionProsAndCons {
  color: var(--color-blue);
  cursor: pointer;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

.Question-module__hJCz_q__questionToolsAndUseCases {
  background-color: var(--color-gray-800);
  color: var(--color-lightest);
  cursor: pointer;
  border-radius: 48px;
  gap: 4px;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

.Question-module__hJCz_q__questionMoreOptionsWrapper {
  border-top: 1px solid var(--color-gray-50);
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

@media (width <= 1023px) {
  .Question-module__hJCz_q__questionMoreOptionsWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}


/* [project]/components/QuestionsView/QuestionsView.module.css [app-client] (css) */
.QuestionsView-module__-cUIaG__questionsViewWrapperWrapper {
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewWrapperWrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.QuestionsView-module__-cUIaG__questionsViewWrapper {
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewWrapper {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.QuestionsView-module__-cUIaG__questionsView {
  flex-direction: column;
  max-width: 628px;
  margin-left: auto;
  margin-right: auto;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsView {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.QuestionsView-module__-cUIaG__questionsViewBackButton {
  color: var(--color-gray-1000);
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  position: absolute;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewBackButton {
    margin-bottom: 16px;
    position: static;
  }
}

.QuestionsView-module__-cUIaG__questionsViewTitle {
  color: var(--color-gray-1000);
  letter-spacing: -.005em;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewTitle {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 34px;
  }
}

.QuestionsView-module__-cUIaG__questionsViewPreviousAnswer {
  color: var(--color-gray-800);
  margin-bottom: 8px;
  font-size: 18px;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewPreviousAnswer {
    font-size: 16px;
  }
}

.QuestionsView-module__-cUIaG__questionsViewQuestions {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media (width <= 1023px) {
  .QuestionsView-module__-cUIaG__questionsViewQuestions {
    gap: 16px;
  }
}


/* [project]/components/Solution/Solution.module.css [app-client] (css) */
.Solution-module__oidftG__solutionWrapper {
  background-color: var(--color-lightest);
  border-radius: 16px;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  display: flex;
}

@media (width <= 1023px) {
  .Solution-module__oidftG__solutionWrapper {
    padding: 16px;
  }
}

.Solution-module__oidftG__solutionContent {
  flex-direction: column;
  gap: 16px;
  height: 100%;
  display: flex;
}

@media (width <= 1023px) {
  .Solution-module__oidftG__solutionContent {
    gap: 8px;
  }
}

.Solution-module__oidftG__solutionLinks {
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  display: flex;
}

@media (width <= 1023px) {
  .Solution-module__oidftG__solutionLinks {
    gap: 8px;
  }
}

.Solution-module__oidftG__solutionName {
  color: var(--color-gray-1000);
  letter-spacing: -.01em;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}

@media (width <= 1023px) {
  .Solution-module__oidftG__solutionName {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }
}

.Solution-module__oidftG__solutionLink {
  color: var(--color-blue);
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

.Solution-module__oidftG__solutionProsConsTitle {
  color: var(--color-gray-800);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.Solution-module__oidftG__solutionText {
  color: var(--color-gray-800);
  font-size: 16px;
  line-height: 24px;
}

.Solution-module__oidftG__solutionViewMore {
  color: var(--color-blue);
  cursor: pointer;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  display: flex;
}


/* [project]/components/SolutionsView/SolutionsView.module.css [app-client] (css) */
.SolutionsView-module__nuQ5la__solutionsViewWrapper {
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

@media (width <= 1023px) {
  .SolutionsView-module__nuQ5la__solutionsViewWrapper {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.SolutionsView-module__nuQ5la__solutionsViewContent {
  width: 100%;
  max-width: 1281px;
  margin-left: auto;
  margin-right: auto;
}

@media (width <= 1023px) {
  .SolutionsView-module__nuQ5la__solutionsViewContent {
    margin-left: 0;
    margin-right: 0;
  }
}

.SolutionsView-module__nuQ5la__solutionsViewBackButton {
  color: var(--color-gray-1000);
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

.SolutionsView-module__nuQ5la__solutionsViewTitleWrapper {
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  display: flex;
}

.SolutionsView-module__nuQ5la__solutionsViewTitle {
  color: var(--color-gray-1000);
  letter-spacing: -.05em;
  font-size: 32px;
  line-height: 44px;
}

@media (width <= 1023px) {
  .SolutionsView-module__nuQ5la__solutionsViewTitle {
    font-size: 22px;
    line-height: 34px;
  }
}

.SolutionsView-module__nuQ5la__solutionsViewStartOver {
  background-color: var(--color-gray-800);
  color: var(--color-lightest);
  border-radius: 48px;
  margin-left: auto;
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
}

.SolutionsView-module__nuQ5la__solutionsViewCount {
  color: var(--color-gray-600);
  letter-spacing: -.05em;
  font-size: 24px;
  line-height: 44px;
}

.SolutionsView-module__nuQ5la__solutionsViewContainer {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  display: grid;
}

@media (width <= 1023px) {
  .SolutionsView-module__nuQ5la__solutionsViewContainer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}


/*# sourceMappingURL=components_8d1f19da._.css.map*/